<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.demo.UserMapper">
    <select id="userList" resultType="com.example.demo.UserDTO">
        SELECT * FROM test;
    </select>
    
     <insert id="userCreate" parameterType="com.example.demo.UserDTO">
        INSERT INTO test
            VALUES
        (#{id},#{passwd});
    </insert>
    
    <delete id="userDelete" parameterType="String">
        DELETE FROM test WHERE id = #{id};
    </delete>
    
    <update id="userUpdate" parameterType="com.example.demo.UserDTO">
        UPDATE test set passwd=#{passwd} where id = #{id};
    </update>
    
</mapper>